<header>
<<<<<<< HEAD
=======

  <!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container-fluid">-->
      <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
      <!--</div>-->
      <!--<div class="collapse navbar-collapse" id="myNavbar">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a href="#">Home</a></li>-->
          <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="#">Page 1-1</a></li>-->
              <!--<li><a href="#">Page 1-2</a></li>-->
              <!--<li><a href="#">Page 1-3</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li><a href="#">Page 2</a></li>-->
          <!--<li><a href="#">Page 3</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
>>>>>>> UI
<nav class="w3-sidebar w3-bar-block w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:20%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
     class="w3-bar-item w3-button">Close Menu</a>
  <% if logged_in? %>
      <div class="w3-bar-item w3-button">  <%= link_to "Home", root_path  %> </div>
      <div class="w3-bar-item w3-button">  <%= link_to "Profile", current_user  %> </div>
<<<<<<< HEAD
      <div class="w3-bar-item w3-button">  <%= link_to "New Post",posts_new_path %> </div>
=======
      <% if  @user.admin? && current_user?(@user) %>
      <div class="w3-bar-item w3-button">  <%= link_to "New Post", micropost_new_path  %> </div>
      <div class="w3-bar-item w3-button">  <%= link_to "Manager Post", admin_microposts_path  %> </div>
      <% end %>
      <div class="w3-bar-item w3-button">  <%= link_to "Manager User", admin_users_path %> </div>
>>>>>>> UI
      <div class="w3-bar-item w3-button"> <%= link_to "Log out", logout_path, method: :delete %> </div>
      <div class="w3-bar-item w3-button"><%= link_to "Update Profile",  edit_user_path(current_user) %> </div>
  <% else %>
      <div class="w3-bar-item w3-button">  <%= link_to "Home", root_path  %> </div>
      <div class="w3-bar-item w3-button">  <%= link_to "Log in", login_path %> </div>
      <div class="w3-bar-item w3-button"><%= link_to "Sign up now!", users_new_path %> </div>
  <% end %>

  <div class="w3-bar-item w3-button">  <%= link_to "Help", help_path  %> </div>
  <div class="w3-bar-item w3-button">  <%= link_to "About", about_path  %> </div>
</nav>

<!-- Top menu -->
<div>
  <div class="w3-light-grey w3-xlarge" style="max-width:1400px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16 w3-margin right-16">
      <% if logged_in? %>
          <% @user = current_user %>
          <h6> <i>Thành viên:  <%= @user.name %> </i> </h6>
      <% else %>
          <h6> <i>Bạn chưa đăng nhập? </i> </h6>
      <% end %>
    </div>

    <div class="w3-center "><h3><b>MY BLOG</b></h3></div>
    <h6><i><div class="w3-center"><%= link_to "Wellcome ManchesterUnited <3", root_path, id: "logo" %></i></h6></div></h6>
  </div>
</div>
</header>
