<% provide(:title, @user.name) %>



<% @microposts.each do |post| %>
    <div class="w3-card-4 w3-margin w3-white with-medium">
      <img src="<%= post.urlImage %>" alt="Nature" style="width:100%">
      <div class="w3-container">
        <h3><b><%= post.title %></b></h3>
        <h6><span class="w3-opacity">April 7, 2014</span></h6>
      </div>
      <div class="w3-container text-sezi_default">
        <p><%= post.body %></p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p>
              <%= link_to "READ MORE »", post, class: "w3-button w3-padding-large w3-white w3-border hide_under_line" %>
            </p>
          </div>
          <% if logged_in? && @user.admin? && current_user?(@user) %>
              <%= link_to "Edit", @user, method: :delete, data: {confirm: "You sure?"} %> </span><span></span>
              | <%= link_to "Delete", @user, method: :delete, data: {confirm: "You sure?"} %> </span>
          <% end %>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<% end %>