<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>Birthday: <%= @user.birth_day %></h2>
      <h2>PhoneNumber: <%= @user.phone_number %></h2>
      <h2>Address: <%= @user.address %></h2>
      <% if @user.sex == 1 %>
          <h2>Sex: Boy</h2>
      <% else %>
          <h2>Sex: Girl</h2>
      <% end %>
      </h2>
    </section>
  </aside>
</div>
